//
// VARIABLES
//

// Colors
$blue: #4183C4;


// Primary Accent
$blue: #8a6bff; // Moon lavender accent

// Core Palette
$black: #15111f;
$darkerGray: #2a1f40;
$darkGray: #3a2f52;
$gray: #8c7fa6;
$lightGray: #ede7ff;
$white: #f9f6ff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
