---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% if page.comments != false %}
    <div class="comment-guidelines">
      Comments are welcome. Please follow the
      <a href="{{ site.baseurl }}/coc/">Code of Conduct</a>.
    </div>

    <div class="giscus"></div>

    <script src="https://giscus.app/client.js"
            data-repo="ShiningVenus/ShiningVenus.github.io"
            data-repo-id="R_kgDORQj_Tw"
            data-category-id="DIC_kwDORQj_T84C2dmD"
            data-mapping="pathname"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
  {% endif %}
</article>

